- dashboard: {{ dashboard_name | clean_name }}
  title: {{ title }}
  layout: {{ layout_type }}
{% if preferred_viewer %}  preferred_viewer: {{ preferred_viewer }}
{% endif %}{% if preferred_slug %}  preferred_slug: {{ preferred_slug }}
{% endif %}
  elements:
  {% for element in elements %}
  - title: {{ element.title }}
    name: {{ element.name | clean_name }}
    {% if element.model and element.explore %}
    model: {{ element.model }}
    explore: {{ element.explore | clean_name }}
    {% endif %}
    type: {{ element.type }}
    {% if element.fields %}
    fields: [{{ element.fields | join(', ') }}]
    {% endif %}
    {% if element.filters %}
    filters:
      {% for filter_key, filter_value in element.filters.items() %}
      {{ filter_key }}: {{ filter_value }}
      {% endfor %}
    {% endif %}
    {% if element.sorts %}
    sorts: [{{ element.sorts | join(', ') }}]
    {% endif %}
    {% if element.limit %}
    limit: {{ element.limit }}
    {% endif %}
    {% if element.column_limit %}
    column_limit: {{ element.column_limit }}
    {% endif %}
    {% if element.hidden_fields is defined %}
    hidden_fields: {{ element.hidden_fields | tojson }}
    {% else %}
    hidden_fields: []
    {% endif %}
    {% if element.hidden_points_if_no is defined %}
    hidden_points_if_no: {{ element.hidden_points_if_no | tojson }}
    {% else %}
    hidden_points_if_no: []
    {% endif %}
    {% if element.series_labels is defined %}
    series_labels: {{ element.series_labels | tojson }}
    {% else %}
    series_labels: {}
    {% endif %}
    {% if element.show_view_names is defined %}
    show_view_names: {{ element.show_view_names | lower }}
    {% else %}
    show_view_names: false
    {% endif %}
    {% for key, value in element.items() %}
    {% if key not in ['title', 'name', 'model', 'explore', 'type', 'fields', 'filters', 'sorts', 'limit', 'column_limit', 'hidden_fields', 'hidden_points_if_no', 'series_labels', 'show_view_names', 'listen', 'layout'] %}
    {% if value is string %}
    {{ key }}: {{ value }}
    {% elif value is boolean %}
    {{ key }}: {{ value | lower }}
    {% elif value is number %}
    {{ key }}: {{ value }}
    {% elif value is iterable and value is not mapping %}
    {{ key }}: {{ value | tojson }}
    {% elif value is mapping %}
    {{ key }}: {{ value | tojson }}
    {% else %}
    {{ key }}: {{ value }}
    {% endif %}
    {% endif %}
    {% endfor %}
    {% if element.listen %}
    listen:
      {% for listen_key, listen_value in element.listen.items() %}
      {{ listen_key }}: {{ listen_value }}
      {% endfor %}
    {% else %}
    listen: {}
    {% endif %}
    {% if element.layout %}
    row: {{ element.layout.row if element.layout.row is not none else 0 }}
    col: {{ element.layout.col if element.layout.col is not none else 0 }}
    width: {{ element.layout.width if element.layout.width is not none else 8 }}
    height: {{ element.layout.height if element.layout.height is not none else 6 }}
    {% else %}
    row: 0
    col: 0
    width: 8
    height: 6
    {% endif %}
  {% endfor %}
