---
- dashboard: {{ dashboard_name | clean_name }}
  title: "{{ title }}"
  layout: {{ layout_type }}
  {% if preferred_viewer %}preferred_viewer: {{ preferred_viewer }}{% endif %}
  {% if description %}description: "{{ description }}"{% endif %}
  {% if preferred_slug %}preferred_slug: "{{ preferred_slug }}"{% endif %}

  {% if filters %}
  filters:
  {% for filter in filters %}
  - name: {{ filter.name }}
    title: "{{ filter.title }}"
    type: {{ filter.type }}
    {% if filter.default_value is defined %}default_value: "{{ filter.default_value }}"{% endif %}
    {% if filter.allow_multiple_values is defined %}allow_multiple_values: {{ filter.allow_multiple_values | lower }}{% endif %}
    {% if filter.required is defined %}required: {{ filter.required | lower }}{% endif %}
    {% if filter.model %}model: {{ filter.model }}{% endif %}
    {% if filter.explore %}explore: {{ filter.explore | clean_name }}{% endif %}
    {% if filter.field %}field: {{ filter.field }}{% endif %}
  {% endfor %}
  {% endif %}

  elements:
  {% for element in elements %}
  - name: {{ element.name | clean_name }}
    title: "{{ element.title }}"
    type: {{ element.type }}
    {% if element.model and element.explore %}
    model: {{ element.model }}
    explore: {{ element.explore | clean_name }}
    {% if element.fields %}
    fields: [{{ element.fields | join(', ') }}]
    {% endif %}
    {% if element.filters %}
    filters:
      {% for filter_key, filter_value in element.filters.items() %}
      {{ filter_key }}: "{{ filter_value }}"
      {% endfor %}
    {% endif %}
    {% if element.sorts %}
    sorts: [{{ element.sorts | join(', ') }}]
    {% endif %}
    {% if element.limit %}
    limit: {{ element.limit }}
    {% endif %}
    {% if element.column_limit %}
    column_limit: {{ element.column_limit }}
    {% endif %}
    {% endif %}
    {% if element.y_axes %}
    y_axes: {{ element.y_axes | tojson }}
    {% endif %}
    {% if element.x_axis_gridlines is defined %}
    x_axis_gridlines: {{ element.x_axis_gridlines | lower }}
    {% endif %}
    {% if element.y_axis_gridlines is defined %}
    y_axis_gridlines: {{ element.y_axis_gridlines | lower }}
    {% endif %}
    {% if element.show_y_axis_labels is defined %}
    show_y_axis_labels: {{ element.show_y_axis_labels | lower }}
    {% endif %}
    {% if element.show_y_axis_ticks is defined %}
    show_y_axis_ticks: {{ element.show_y_axis_ticks | lower }}
    {% endif %}
    {% if element.y_axis_combined is defined %}
    y_axis_combined: {{ element.y_axis_combined | lower }}
    {% endif %}
    {% if element.series_colors %}
    series_colors:
      {% for field, color in element.series_colors.items() %}
      {{ field }}: "{{ color }}"
      {% endfor %}
    {% endif %}
    {% if element.listen %}
    listen:
      {% for listen_key, listen_value in element.listen.items() %}
      {{ listen_key }}: {{ listen_value }}
      {% endfor %}
    {% endif %}
    {% if element.layout %}
    row: {{ element.layout.row }}
    col: {{ element.layout.col }}
    width: {{ element.layout.width }}
    height: {{ element.layout.height }}
    {% endif %}
  {% endfor %}
